@page
@model IndexModel
@inject ThePizzaProject.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}
<audio controls autoplay>
    <source src="/sound/Osipov-Kamarinskaya.mp3" type="audio/mp3" />
</audio>

@foreach (var pizza in Model.MyPizzas ?? Model.Pizzas)
{
	<div class="pizzabox">
		<h2>@pizza.PizzaName</h2>
		<p>
			@foreach (var ingredient in pizza.PizzaIngredients)
			{
				@ingredient.Ingredient.IngredientName @(ingredient != pizza.PizzaIngredients.Last() ? ", " : "")
			}
		</p>
	</div>
}

<h2>Here you can uploads pictures @accessControl.LoggedInAccountName!</h2>

<form method="post" enctype="multipart/form-data">
	<input type="file" name="photo">
	<button type="submit">Upload Photo</button>
</form>

<h2>Your Photos</h2>
@foreach (var url in Model.PhotoURLs)
{
	<img src="@url" style="width: 250px">
}

@if (Model.PhotoURLs.Count == 0)
{
	<p>You have not uploaded any photos yet.</p>
}

<p> MpM Development </p>


