@page
@model IndexModel
@inject ThePizzaProject.Data.AccessControl accessControl
@{
	ViewData["Title"] = "Home page";
}
<audio controls>
	<source src="/sound/Osipov-Kamarinskaya.mp3" type="audio/mp3" />
</audio>

<div class="pizza-Content">
	@foreach (var pizza in Model.MyPizzas ?? Model.Pizzas)
	{
		<div class="pizzabox">
			<div class="pizza-title">
				<h2>@pizza.PizzaName</h2>
			</div>
			@{
				int pizzaID = Convert.ToInt32(pizza.PizzaID);

				Func<int, string> GetPizzaPhoto = (pizzaID) =>
				{
					string formattedPizzaId = pizzaID.ToString();
					string photo = Model.photoUrl.FirstOrDefault(p => p.EndsWith(+pizzaID + ".jpeg"));
					return photo;
				};

				string photoUrl = GetPizzaPhoto(pizzaID);
			}

			<img src="@photoUrl" class="pizzaImg">


			<div class="ingredient-span">


				@for (int i = 0; i < pizza.PizzaIngredients.Count; i++)
				{
					<span class="span">@pizza.PizzaIngredients[i].Ingredient.IngredientName</span>

					@if (i < pizza.PizzaIngredients.Count - 1)
					{
						<text>,&nbsp;</text>
					}
				}



			</div>





			@*<span>
				@for (int i = 0; i < pizza.PizzaIngredients.Count; i ++)
				{
					@pizza.PizzaIngredients[i].Ingredient.IngredientName

					@if (i < pizza.PizzaIngredients.Count - 1)
					{
						<text>,&nbsp;</text>
					}
				}
			</span>*@
		</div>
	}
</div>

@*<h2>Your Photos</h2>
@foreach (var url in Model.PhotoURLs)
{
	<img src="@url" style="width: 250px">
}

@if (Model.PhotoURLs.Count == 0)
{
	<p>You have not uploaded any photos yet.</p>
}

<p> MpM Development </p>*@


