@page
@model ThePizzaProject.Pages.ThePizzaPage.IndexModel
@{
}

@*Pizzan som klickades på antingen i FindMyPizza eller inne på en annan användares "Profil"

*@
<h1>@Model.Pizzas.UserName</h1>



<div class="The-pizzapage-Content">
	<div class="pizzabox">
		<div class="pizza-title">
			<h2>@Model.Pizzas.Name</h2>
			
		</div>
		<h3>
			Rating: @for (var i = 0; i < Model.Rating; i++)
			{

				<span>🍕</span>
			}
		</h3>
		@*<h3>Rating</h3>
		<form method="post">
			<input type="hidden" name="_method" value="put" />
			<input type="hidden" name="pizzaId" value="@Model.PizzaId" />
			<input type="number" name="rating" min="1" max="5" required />
			<button type="submit">Set Rating</button>
		</form>*@
		@{
				int pizzaID = Convert.ToInt32(Model.Pizzas.ID);

				//Func<int, string> GetPizzaPhoto = (pizzaID) =>
				//{
				//	string formattedPizzaId = pizzaID.ToString();
				//	string photo = Model.photoUrl.FirstOrDefault(p => p.EndsWith(+pizzaID + ".jpeg"));
				//	return photo;
				//};

			string photoUrl = "/uploads/" + Model.Pizzas.UserID + "/" + Model.Pizzas.ID + ".jpeg";

				//string photoUrl = GetPizzaPhoto(pizzaID);
			}

		<img src="@photoUrl" class="pizzaImg">


		<div class="ingredient-span">


			@for (int i = 0; i < Model.Pizzas.Ingredients.Count; i++)
			{
				<span class="span"> @Model.Pizzas.Ingredients[i].Name</span>

				@if (i < Model.Pizzas.Ingredients.Count - 1)
				{
					<text>,&nbsp;</text>
				}
			}



		</div>



		@*<span>
			@for (int i = 0; i < Model.Pizzas.Ingredients.Count; i++)
			{
				@Model.Pizzas.Ingredients[i].Name

				@if (i < Model.Pizzas.Ingredients.Count - 1)
				{
					<text>,&nbsp;</text>
				}
			}
		</span>*@


		<div class="comment-box">
			<h4>Leave a comment</h4>
			<form method="post">
				<span class="text-danger">@Html.ValidationMessageFor(m => m.Text)</span>
				<textarea class="comment-text-area" name="commentText"></textarea>


				<h4>Rating</h4>
				@*<input type="hidden" name="pizzaObject" value="@Model.PizzaObject" />*@
				<input type="number" name="rating" min="1" max="5" required />

				<button class="submit-buttons" type="submit">Submit</button>

			</form>
		</div>

		@foreach (var comment in Model.Pizzas.Comments)
		{

			<div class="comment-display-box">
				<h5 class="comment-username">@comment.UserName @comment.DateTime</h5>

				<spa class="comment-text" classn>@comment.Comment</spa>
			</div>
		}

		<button class="training" onclick="TrainingTips()">Training tips</button>
	</div>


	<script type="text/javascript">
		function TrainingTips() {
			var calories = @Model.TotalCalories; // Use the TotalCalories property from the model
			var apiUrl = "https://workoutproject.azurewebsites.net/api?calories=" + calories;
			fetch(apiUrl)
				.then(response => response.json())
				.then(data => {
					var workoutList = document.getElementById('workoutList');
					// Clear any previous children from the list
					while (workoutList.firstChild) {
						workoutList.removeChild(workoutList.firstChild);
					}

					data.forEach(item => {
						var parts = item.split(": ");
						var h2 = document.createElement('h2');
						h2.textContent = parts[0];
						var li = document.createElement('li');
						li.textContent = parts[1];
						var ul = document.createElement('ul');
						ul.appendChild(li);

						workoutList.appendChild(h2);
						workoutList.appendChild(ul);
					});
				})
				.catch((error) => {
					console.error('Error:', error);
				});
		}
	</script>
</div>

</div>

<div id="workoutList"></div>

</div>