@page
@model ThePizzaProject.Pages.ThePizzaPage.IndexModel
@{
}

@*Pizzan som klickades på antingen i FindMyPizza eller inne på en annan användares "Profil"

*@
<h1>@Model.Pizzas.UserName</h1>



<div class="pizzaContent">
	<div class="pizzabox">
		<div class="pizza-title">
			<h2>@Model.Pizzas.Name</h2>
		</div>
		<h3>Rating ⭐⭐⭐⭐⭐</h3>
		@{
			int pizzaID = Convert.ToInt32(Model.Pizzas.ID);

			Func<int, string> GetPizzaPhoto = (pizzaID) =>
			{
				string formattedPizzaId = pizzaID.ToString();
				string photo = Model.photoUrl.FirstOrDefault(p => p.EndsWith(+pizzaID + ".jpeg"));
				return photo;
			};

			string photoUrl = GetPizzaPhoto(pizzaID);
		}

		<img src="@photoUrl" class="pizzaImg">
		<span class="pizzaIngredients">
			@foreach (var pizzaIngredient in @Model.Pizzas.Ingredients)
			{

				<span>
					@pizzaIngredient.Name
				</span>

				<span>, </span>


			}
		</span>


		<div class="comment-box">
			<h4>Leave a comment</h4>
			<form method="post">
				<span class="text-danger">@Html.ValidationMessageFor(m => m.Text)</span>
				<textarea class="comment-text-area" name="commentText"></textarea>

				<button class="submit-buttons" type="submit">Submit</button>

			</form>
		</div>

		@foreach (var comment in Model.Pizzas.Comments)
		{

			<div class="comment-display-box">
				<h5 class="comment-username">@comment.UserName @comment.DateTime</h5>

				<spa class="comment-text" classn>@comment.Comment</spa>
			</div>
		}

		<button class="training" onclick="TrainingTips()">Training tips</button>
	</div>


	<script type="text/javascript">
		function TrainingTips() {
			var calories = @Model.TotalCalories; // Use the TotalCalories property from the model
			var apiUrl = "https://workoutproject.azurewebsites.net/api?calories=" + calories;
			fetch(apiUrl)
				.then(response => response.json())
				.then(data => {
					var workoutList = document.getElementById('workoutList');
					// Clear any previous children from the list
					while (workoutList.firstChild) {
						workoutList.removeChild(workoutList.firstChild);
					}

					data.forEach(item => {
						var parts = item.split(": ");
						var h2 = document.createElement('h2');
						h2.textContent = parts[0];
						var li = document.createElement('li');
						li.textContent = parts[1];
						var ul = document.createElement('ul');
						ul.appendChild(li);

						workoutList.appendChild(h2);
						workoutList.appendChild(ul);
					});
				})
				.catch((error) => {
					console.error('Error:', error);
				});
		}
	</script>
</div>

@foreach (var comment in Model.Pizzas.Comments)
{
	<div class="comment-display-box">
		<h5 class="comment-username">@comment.UserName @comment.DateTime</h5>
		<span class="comment-text">@comment.Comment</span>
	</div>
}

</div>

<div id="workoutList"></div>



</div>