@page
@model ThePizzaProject.Pages.FindMyPizza.IndexModel
@{
    ViewData["Title"] = "Find My Pizza";
}

<button class="open-sideBar">filter</button>
<div class="sidebar">

    <h1>Find My Pizza</h1>

    <div class="filterbox">
        <form method="post" asp-page-handler="Update">
            <h2 class="filter-title">Ingredients we want</h2>

            <h2 class="ingredient-title">Dough</h2>
            <ol class="sidebar-list" style="clear: both;">
                @foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Dough"))
                {
                    <li class="sidebar-list-element">
                        <input type="radio" name="wantedIngredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
                        <label class="sidebar-lable" for="@ingredient.IngredientID">@ingredient.IngredientName</label>
                    </li>
                }
            </ol>

            <!-- ... repeat for each ingredient category ... -->

            <h2 class="filter-title">Ingredients we don't want</h2>

            <h2 class="ingredient-title">Dough</h2>
            <ol class="sidebar-list" style="clear: both;">
                @foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Dough"))
                {
                    <li class="sidebar-list-element">
                        <input type="radio" name="unwantedIngredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
                        <label class="sidebar-lable" for="@ingredient.IngredientID">@ingredient.IngredientName</label>
                    </li>
                }
            </ol>

            <!-- ... repeat for each ingredient category ... -->

            <button type="submit">Apply Filter</button>
        </form>
    </div>
</div>


<div class="pizzaContent">
    @foreach (var pizza in Model.FilteredPizzas ?? Model.Pizzas)
    {
        <div onclick="href=window.location.href ='/ThePizzaPage?id=@pizza.PizzaID'" class="pizzabox">
            <h2>@pizza.PizzaName</h2>
            <img src="https://shared.cdn.smp.schibsted.com/v2/images/1ef1386d-8ad2-4efc-8bc5-3c66feac6bb8?fit=crop&h=442&w=600&s=a3fff248ecfb772e3e3e7705e09761377a96fd2d" class="pizzaImg">
            <ul>
                @foreach (var pizzaIngredient in pizza.PizzaIngredients)
                {
                    <text>@pizzaIngredient.Ingredient.IngredientName, </text>
                }
            </ul>

        </div>
    }
</div>
