@page
@model ThePizzaProject.Pages.FindMyPizza.IndexModel
@{
	ViewData["Title"] = "Find My Pizza";
}

<div class="filter-buttons">
	<button class="toggle-filter" onclick="toggleFilter()">Chose your ingredients</button>
</div>

<h1>Find My Pizza</h1>

<div class="pizza-content">
	@foreach (var pizza in Model.FilteredPizzas ?? Model.Pizzas)
	{
		<div onclick="window.location.href='/ThePizzaPage?id=@pizza.PizzaID'" class="pizzabox">
			<div class="pizza-title">
				<h2>@pizza.PizzaName</h2>
			</div>

			@{
				int pizzaID = Convert.ToInt32(pizza.PizzaID);

				//Func<int, string> GetPizzaPhoto = (pizzaID) =>
				//{
				//	string formattedPizzaId = pizzaID.ToString();
				//	string photo = Model.photoUrl.FirstOrDefault(p => p.EndsWith(+pizzaID + ".jpeg"));
				//	return photo;
				//};

				string photoUrl = "/uploads/" + pizza.AccountID + "/" + pizza.PizzaID + ".jpeg";

				//string photoUrl = GetPizzaPhoto(pizzaID);
			}

			<img src="@photoUrl" class="pizzaImg">

		
			<div class="ingredient-span">

				
					@for (int i = 0; i < pizza.PizzaIngredients.Count; i++)
					{
						<span class="span">@pizza.PizzaIngredients[i].Ingredient.IngredientName</span>

						@if (i < pizza.PizzaIngredients.Count - 1)
						{
						<text>,&nbsp;</text>
						}
					}
				


			</div>

		</div>
	}
</div>

<div class="top-bar" id="topbar">
	<button id="submitForms" onclick="submitForm()">Apply Filters</button>
</div>

<form method="post" id="positiveForm" asp-page-handler="Update">
	<div class="left-bar" id="leftBar">
		<div class="positiv-filter-box">
			<h2 class="filter-title">Ingredients i want</h2>

			<h2 class="ingredient-title">Go Veggie!</h2>
			<ol class="sidebar-list" style="clear: both;">
				<li class="sidebar-list-element">
					<input type="checkbox" value="true" name="veggie" id="veggie">
					<label class="sidebar-lable" for="veggie">Vegetarian</label>
				</li>
			</ol>



			<h2 class="ingredient-title">Dough</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Dough"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="wantedIngredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
						<label class="sidebar-lable" for="@ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>

			<h2 class="ingredient-title">Bottom Sauce</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Bottom-sauce"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="wantedIngredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
						<label class="sidebar-lable" for="@ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>

			<h2 class="ingredient-title">Cheese</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Cheese"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="wantedIngredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
						<label class="sidebar-lable" for="@ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>

			<h2 class="ingredient-title">Protein</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Fish" || i.Category == "Chicken" || i.Category == "Meat"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="wantedIngredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
						<label class="sidebar-lable" for="@ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>

			<h2 class="ingredient-title">Vegetables</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Vegetables"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="wantedIngredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
						<label class="sidebar-lable" for="@ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>

			<h2 class="ingredient-title">Sauces</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Sauces"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="wantedIngredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
						<label class="sidebar-lable" for="@ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>


		</div>

		<button class="left-baropen" onclick="toggleLeftBar()">close</button>

	</div>
	<div class="right-bar" id="rightBar">
		<div class="negativ-filter-box">
			<h2 class="filter-title">Ingredients i don't want</h2>

			<h2 class="ingredient-title">Dough</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Dough"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="unwantedIngredients" value="@ingredient.IngredientID" id="1 @ingredient.IngredientID">
						<label class="sidebar-lable" for="1 @ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>

			<h2 class="ingredient-title">Bottom Sauce</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Bottom-sauce"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="unwantedIngredients" value="@ingredient.IngredientID" id="1 @ingredient.IngredientID">
						<label class="sidebar-lable" for="1 @ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>

			<h2 class="ingredient-title">Cheese</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Cheese"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="unwantedIngredients" value="@ingredient.IngredientID" id="1 @ingredient.IngredientID">
						<label class="sidebar-lable" for="1 @ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>

			<h2 class="ingredient-title">Protein</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Fish" || i.Category == "Chicken" || i.Category == "Meat"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="unwantedIngredients" value="@ingredient.IngredientID" id="1 @ingredient.IngredientID">
						<label class="sidebar-lable" for="1 @ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>

			<h2 class="ingredient-title">Vegetables</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Vegetables"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="unwantedIngredients" value="@ingredient.IngredientID" id="1 @ingredient.IngredientID">
						<label class="sidebar-lable" for="1 @ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>

			<h2 class="ingredient-title">Sauces</h2>
			<ol class="sidebar-list" style="clear: both;">
				@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Sauces"))
				{
					<li class="sidebar-list-element">
						<input type="checkbox" name="unwantedIngredients" value="@ingredient.IngredientID" id="1 @ingredient.IngredientID">
						<label class="sidebar-lable" for="1 @ingredient.IngredientID">@ingredient.IngredientName</label>
					</li>
				}
			</ol>


		</div>
		<button class="right-baropen" onclick="toggleRightBar()">Close</button>
</form>


</div>



