@page
@model ThePizzaProject.Pages.FindMyPizza.IndexModel
@{
	ViewData["Title"] = "Find My Pizza";
}

<h1>Find My Pizza</h1>

<form method="post">
	<div class="filterbox">
		<h2>Ingredients we want</h2>
		@foreach (var ingredient in Model.Ingredients)
		{
			<input type="checkbox" id="wanted-@ingredient.IngredientID" name="wantedIngredients" value="@ingredient.IngredientID">
			<label for="wanted-@ingredient.IngredientID">@ingredient.IngredientName</label>
		}
		<input type="checkbox" name="veggie" value="true" id="noMeat" />
		<label for="noMeat">Veggie Warrior</label>
		<h2>Ingredients we don't want</h2>
		@foreach (var ingredient in Model.Ingredients)
		{
			<input type="checkbox" id="unwanted-@ingredient.IngredientID" name="unwantedIngredients" value="@ingredient.IngredientID">
			<label for="unwanted-@ingredient.IngredientID">@ingredient.IngredientName</label>
		}
		<button type="submit">Apply Filter</button>
	</div>
</form>


@foreach (var pizza in Model.FilteredPizzas ?? Model.Pizzas)
{
	<div class="pizzabox">
		<h2>@pizza.PizzaName</h2>
		<p>
			@foreach (var ingredient in pizza.PizzaIngredients)
			{
				@ingredient.Ingredient.IngredientName @(ingredient != pizza.PizzaIngredients.Last() ? ", " : "")
			}
		</p>
	</div>
}
