@page
@model ThePizzaProject.Pages.CreatePizza.IndexModel
@{
}

<form method="post">

	<h1>Create pizza</h1>
	<input type="text" name="pizzaName" placeholder="Give a name to youre pizza" /> 
	<h2>Pizza Dough</h2>
	<ol class="dough">
		@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Dough"))
		{
			<li>
				<input type="radio" name="ingredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
				<label for="@ingredient.IngredientID">@ingredient.IngredientName</label>
			</li>
		}
	</ol>

	<h2>Cheese</h2>
	<ol class="cheese">
		@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Cheese"))
		{
			<li>
				<input type="checkbox" name="ingredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
				<label for="@ingredient.IngredientID">@ingredient.IngredientName</label>
			</li>
		}
	</ol>

	<h2>Protein</h2>
	<ol class="protien">
		@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Protein"))
		{
			<li>
				<input type="checkbox" name="ingredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
				<label for="@ingredient.IngredientID">@ingredient.IngredientName</label>
			</li>
		}
	</ol>

	<h2>Vegetables</h2>
	<ol class="vegetables">
		@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Vegetables"))
		{
			<li>
				<input type="checkbox" name="ingredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
				<label for="@ingredient.IngredientID">@ingredient.IngredientName</label>
			</li>
		}
	</ol>

	<h2>Sauces</h2>
	<ol class="sauces">
		@foreach (var ingredient in Model.Ingredients.Where(i => i.Category == "Sauces"))
		{
			<li>
				<input type="checkbox" name="ingredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
				<label for="@ingredient.IngredientID">@ingredient.IngredientName</label>
			</li>
		}
	</ol>
	<button>Bake</button>
</form>