@page
@model ThePizzaProject.Pages.CreatePizza.IndexModel
@{
}

<form action="">

    <h1>Create pizza</h1>

    <ol>

    @foreach (var ingredient in Model.Ingredients)
    {
        @if (ingredient.IngredientID <= 3){
        
           <li><input type="radio" name="ingredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
           <label for="@ingredient.IngredientID">@ingredient.IngredientName</label></li>
 
        }
        else
        {
                <li><input type="checkbox" name="ingredients" value="@ingredient.IngredientID" id="@ingredient.IngredientID">
                <label for="@ingredient.IngredientID">@ingredient.IngredientName</label></li>                      
        }
        
    }

    </ol>
</form>